header{
    background-color: #29A5F2;
    border-style: double;
    border-color: #D93644;
    
}

h1{
    text-align: center;
    color:#031F73
}

body{
    background-color: #031F73;
    color:#fff
}

h2{
    text-align: center;
}

h3{
    color: #031F73;
    text-decoration: none;
}