/*  CSS Demo Project  */

/*  ---------------Box Sizing-----------------  */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*-----Utility Styles--------*/
.container{
  width:80vw;
  margin: 40px auto;
}

.img-right{
  float:right;
  margin: 10px 0  10px 40px;
  border: solid 10px #D93644;
  box-shadow: 0 20px 20px rgba(0,0,0,.8);
}

.img-left{
  float:left;
  margin: 10px 20px 10px 20px;
  border: solid 10px #D93644;
  box-shadow: 0 20px 20px rgba(0,0,0,.8);
}
/*-----Responsive Images--------*/

img{
  max-width:100%;
}


/*-----Global Styles--------*/

body{
  font-family: 'Young Serif', serif;
  margin: 0;
  }



  header.primary{
    background-color:#031D74;
    color:#D93644; 
    text-align: center;  
    padding:10px 25px;
    text-shadow: 1px 1px #000000; 



    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.11'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  header.primary h1{
    font-size: 3rem;
    margin:20px;
  }

  header.primary h1 a{
    color:#D93644;
    text-decoration: none;
  }

  header.primary h2{
    font-size: 1.5rem;
  }

  header.primary nav{
    max-width: 960px;
    margin: 40px auto 20px auto;
    
  }

  header h1{
    font-size: 3rem;
    margin:20px;
  }

  header.primary nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0;
  }

  header.primary nav ul li{
    list-style-type:none;    
  }

  header.primary nav a{
    color:#fff;
    text-decoration: none;    
    background-color: rgba(0,0,0,.4);
    padding: 8px 12px;
    border-radius: 20px 5px;
    transition: 0.75s;
    border:#D93644 solid 1px;
  }

  header.primary nav a:hover,header.primary nav a:active{
    background-color: rgba(0,0,0,1);
  }

  #intro{
    border-bottom: 4px double #031D74;
    padding-bottom: 20px;
  }

  #intro h2{
    color:#031D74;
    border-bottom: 4px double #031D74;
   
  }

  #content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
   
  }

  #content article.post{
    box-shadow: 0 6px 10px rgba(0,0,0,.4);
    padding:10px;
    font-size: .8rem;
  }

  article.post figure{
    margin:0;
  }

  time.post-date, figcaption, .post.meta{
    text-transform: uppercase;
    color:#D93644;
    font-size: .9rem;
  }

  article.post img{
    border:solid 2px #29A5F2;
    padding:4px;
    border-radius: 10px;
  }

  article.post a{
    color:#29A5F2;
    
  }

  article.post a:hover{
    text-decoration: none;
  }

  #practice h2{
    color:#031D74;
    border-bottom: 4px double #031D74;
  }

  #practice a{
    color:#29A5F2;
      }

  #practice a:hover{
    text-decoration:none;
  }

  #practice h3{
    border-left: 20px solid #031D74;
    padding: 5px;
    }

   

  table{
    width:100%;
    border:5px solid #D93644;
    margin: 30px 0;
    border-collapse: collapse;
  }
  table caption{
    font-weight: bold;
    color: #031F73;
    margin:10px;
  }
  table tr:nth-child(even){
    background-color: #29A5F2;
  }

  table tr:nth-child(odd){
    background-color: #D93644;
  }
  table th{
    background-color: #29A5F2;
    padding: 5px;
  
  }
  table td{
    border: 2px solid #0D40A6;
    padding:10px;
  }
  
  td:nth-child(n+2){
    text-align:right;
  }

  ol{
    list-style-type: lower-roman;
    color:#D93644
  }

  

  ul li > ul {
    list-style-type: square;
    color:#0D40A6
  }

   

  
   
  
  aside[role="complementary"]{
    background-color:#031D74;
    color:#D93644;
    padding:20px;
  }

  aside .container{
    display:flex;
    flex-direction: row;
    gap: 50px; 
  }

  aside .container p{
    line-height: 1.8;
  }

  aside .container a:last-of-type {
    color:#29A5F2;
    display:block;
    text-align:right;
  }

  aside .container footer{
    display:none;
  }

  #colophon{
    background-color: #29A5F2;
    color:#031D74;    
  }

  #colophon h6{
    padding:20px;
    margin:0;
    text-align: center;
  }





  
  
  
  /*-------------Media Query--------------*/


@media screen and (max-width:600px){
  header.primary nav ul {
    flex-direction: column;
    max-width:250px;
    margin:auto;
    gap:10px;
  }

  header.primary nav ul a {
    display:block;
    
  }  

  #content{
    flex-direction: column;
  }

  #content{
    display: block;
    margin: 20px auto;
  }

  aside .container{
    flex-direction: column;
    
  }
}


@media screen and (max-width:600px){
  header.primary nav ul {
    flex-direction: column;
    max-width:250px;
    margin:auto;
    gap:10px;
  }

  header.primary nav ul a {
    display:block;
    
  }  













